body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* LANDING SECTION */

#landing {
    background-color: #70a9a1;
    color: #052f5f;
    padding: 5rem;
}

h1 {
    font-size: 7rem;
    padding-bottom: 1rem;
    color: gold;
    font-family: 'Handlee', cursive;
    line-height: 2;
    font-weight: 700;
}

h2 {
    color: #052f5f;
}

/* ABOUT ME SECTION */

h3 {
    display: block;
    font-size: 1.17rem;
    color: #052f5f;
    font-weight: 700;
}

.intro {
    width: 45%;
    margin: auto;
}

/* CONTACT SECTION */

.contact-intro {
    margin-top: 2%;
}

.social-icons {
    margin: 1% 1%;
    font-size: 35px;
}